<em>{{ if .link -}}
  <a href="{{ .link }}">{{ .title }}</a>
{{- else -}}
  {{ .title }}
{{- end }}</em>
{{ if .artist -}}
  {{- if .artistLink -}}
    (<a href="{{ .artistLink }}">{{ .artist }}</a>)
  {{- else -}}
    ({{ .artist }})
  {{- end -}}
{{- end }}