<section class="section-page-info">
  <div class="info-item">
  {{ partial "utils/icon.html" (dict "icon" "rss") }}&nbsp;
    <a href="index.xml">{{ i18n "section.link.rss" }}</a>
  </div>
{{ partial "translation/links.html" . -}}
</section>
