//* Styling for buttons and similar inputs
button,
.btn {
    padding: 0.3em 1em;
    border: solid 1px $button-border-color;
    background: $button-back-color;

    color: $button-text-color;
}

// Tweak colors for primary buttons
.btn-primary {
    $text-color: hsl($accent-hue, $colors-saturation, $text-lightness);

    border-color: $text-color;
    background: $accent-color;

    color: $text-color;
}
