//* Styling of standard pre, code and kbd tags
// Set the font
pre,
code,
kbd {
    color: $code-text-color;
    font-family: $font-family-code;
    font-feature-settings: 'onum', 'zero';
}

// Define the layout for pre
pre {
    width: 100%;
    padding: 2 * $code-padding $code-padding;
    overflow-x: auto;
}

// Add bonus styling to kbd
kbd {
    display: inline-block;
    padding: 0.1em 0.25em 0;

    border: 1px solid $code-text-color;
    border-radius: 3px;
    background: $kbd-back-color;

    font-size: 0.85 * $font-size-default;
    line-height: 1;
    white-space: nowrap;
}
