//* This file sets basic styles for every components we use
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $back-color-default;

    color: $text-color;
    font: $font-size-default $font-family-main;
}
