{{ with .Params.postface -}}
<div class="notice">
  <p>{{ . | $.RenderString }}</p>
</div>
{{ end -}}
{{ with .Params.challenge -}}
<div class="notice">
  <h4>{{ i18n "story.challenge" }}</h4>
  {{ with .rules -}}
    {{ $nbRules := len . -}}
    {{ if gt $nbRules 1 -}}
  <ul>
      {{- range . }}
    <li>{{ partial "template/challenge-rule.html" (dict "rule" . "Page" $.Page) }}</li>
      {{ end -}}
  </ul>
    {{ else -}}
      {{ range . -}}
    <p>{{ partial "template/challenge-rule.html" (dict "rule" . "Page" $.Page)  }}</p>
      {{ end -}}
    {{ end -}}
  {{ end -}}
  {{ $.Render "metadata/taxonomies" }}
</div>
{{ end -}}
