{{ if or (gt .WordCount 400) (eq .Params.tipping true) -}}
  {{ if .Params.author -}}
    {{ $authorData := index .Site.Data.authors .Params.author }}
    {{ if $authorData.paypalme -}}
    <div class="tip-incentive">
      <a href="https://www.paypal.com/paypalme/{{ $authorData.paypalme }}/5{{ i18n "tip.currency" }}" class="tip-link">
        {{- printf "tip.incentive.%s" .Section | i18n -}}
      </a>
      <a href="{{ relref . "/about/about-kp" }}#support">{{ i18n "tip.incentive.alternative" }}</a>
    </div>
    {{ end -}}
  {{ else -}}
    <div class="tip-incentive">
      <a href="{{ .Site.Params.tipLink }}" class="tip-link">
        {{- printf "tip.incentive.%s" .Section | i18n -}}
      </a>
      <a href="{{ relref . "/about/about-kp" }}#support">{{ i18n "tip.incentive.alternative" }}</a>
    </div>
  {{ end -}}
{{ end -}}
