<ul class="pager">
{{ with .PrevInSection -}}
  <li class="page-item previous">
    <a href="{{ .RelPermalink }}" title="{{ .RenderString .Title | plainify }}">
      «&nbsp;{{ i18n "page.nav.previous" .Title | .RenderString }}
    </a>
  </li>
{{ end -}}
{{ with .NextInSection -}}
  <li class="page-item next">
    <a href="{{ .RelPermalink }}" title="{{ .RenderString .Title | plainify }}">
      {{ i18n "page.nav.next" .Title | .RenderString }}&nbsp;»
    </a>
  </li>
{{ end -}}
</ul>
