{{- with .Site.RegularPages.Related . }}
<h2 class="center">{{ i18n "page.nav.related" }}</h2>
<ul class="related-pages">
  {{- range first $.Site.Params.Related.MaxDisplayed . }}
  <li class="page-item"><a href="{{ .RelPermalink }}">
    {{- if ne .Section $.Section -}}
      {{ $sectionPage := printf "/%s" .Section | $.Site.GetPage -}}
      ({{ $sectionPage.Title }}) {{ end }}
    {{- .Title -}}
  </a></li>
  {{- end -}}
</ul>
{{- end }}
