{{ if and (ne .Params.toc false) (gt .WordCount 400) -}}
<div class="side-block toc collapse">
  <header>{{ i18n "page.toc.title" }}
    <a class="toggle nojs-hide">[<span class="toggle-collapse">{{ i18n "collapse.hide" }}</span><span class="toggle-expand">{{ i18n "collapse.show" }}</span>]</a>
  </header>
  <section class="content">
    {{ .TableOfContents }}
  </section>
</div>
{{ end -}}
