{{ define "main" }}
{{ .Render "tile/header" -}}

<section class="section-page-info">{{ partial "translation/links.html" . }}</section>

<section class="masonry">
{{ range .Data.Terms.ByCount -}}
  {{ partial "tile/thumbnail-term.html" (dict "Ctxt" $ "Term" .) -}}
{{ end -}}
</section>

<section class="section-page-info">{{ partial "translation/links.html" . }}</section>
{{ end }}
