{{ $authorData := index .Data.authors .Author -}}
{{ if $authorData -}}
  {{ if .Link -}}
<a href="{{ .Link }}" rel="nofollow">
    {{- $authorData.displayName | safeHTML -}}
</a>
  {{- else if $authorData.url -}}
<a href="{{ $authorData.url }}" rel="nofollow">
    {{- $authorData.displayName | safeHTML -}}
</a>
  {{- else -}}
    {{ $authorData.displayName | safeHTML -}}
  {{ end -}}
{{- else if .Link -}}
<a href="{{ .Link }}" rel="nofollow">
  {{- .Author -}}
</a>
{{ else -}}
  {{ .Author -}}
{{ end -}}
