//* Styling to have the quote occupy half of the page's width
aside {
    // Define margin sizes as they change depending on float side
    $aside-margin-h: 1em;
    $aside-margin-v: 0.5em;

    // Occupy left half of the page
    width: 50%;
    margin: $aside-margin-v $aside-margin-h $aside-margin-v 0;
    float: left;

    // One out of two occupy the right half of the page
    &:nth-of-type(2n) {
        margin: $aside-margin-v 0 $aside-margin-v $aside-margin-h;
        float: right;
    }
}
