//* The styling of the content, depending on the page's type.
// The styling
.section-main {
    max-width: $max-page-width;
    margin: 0 auto 1em;
}

//* Styling for section pages
// Elements common to all non-article pages (.kind-*:not(.kind-page))
.kind-home,
.kind-error,
.kind-section,
.kind-taxonomy,
.kind-term {
    padding: 3em 3%;
    text-align: center;
}
