//* Styling for Hugo's internal pagination template and next/previous post
// The template uses an unordered list
.pagination,
.pager {
    padding: 0;

    list-style: none;
}

// Pagination on section pages
.pagination {
    .page-item {
        display: inline;
        padding: 0 0.3em;
    }
}

// Previous/next post below pages
.pager {
    margin: 0.5em 0;

    .page-item {
        // Layout
        margin: 0 0.5em 0.5em;

        // Text
        font-size: smaller;
    }

    .next {
        text-align: right;
    }
}

// Individual page links
.page-item {
    a {
        @include undecorated-link;
    }

    &.disabled a {
        color: $muted-text-color;
    }

    &.active a {
        font-weight: bold;
    }
}
