.tip-incentive {

    margin: 1.5em 0;
    text-align: center;

    .tip-link {
        display: block;
        font-size: larger;
        font-weight: bold;
    }

    a {
        color: $contrast-text-color;
    }
}
