<nav id="menu" class="nav-menu column">
  <ul>
    {{ range .Site.Menus.main.ByWeight -}}
      <li>{{ partial "menu-link.html" . }}</li>
    {{- end }}
    {{ if .Site.IsMultiLingual -}}
      {{ $translations := where .Site.Home.AllTranslations "Lang" "!=" .Site.Home.Lang -}}
      {{ if gt (len $translations) 0 -}}
      <li>{{ delimit (apply $translations "partial" "tile/nav-menu-translation-link.html" ".") " | " }}</li>
      {{- end }}
    {{- end }}
  </ul>
</nav>
