.chroma {
    code {
        color: $text-color;
    }

    //* Error
    .err {
        background: $back-color-default;
        color: $ko-text-color;
    }

    //* Line highlight
    .hl {
        display: block;
        width: 100%;
        background: $code-color-highlight-back;
    }

    //* LineNumbers (table mode was removed for concision)
    .ln {
        margin-right: $code-padding;
        padding: 0 $code-padding;
        opacity: 0.75;
    }

    //* Keyword
    // Keyword
    .k,
    // Declaration
    .kd,
    // Pseudo
    .kp,
    // Reserved
    .kr,
    // Type
    .kt {
        color: $code-color-keywords;
    }

    // Constants
    .kc {
        color: $code-color-constants;
    }

    // Namespace
    .kn {
        color: $code-color-namespaces;
    }

    //* Name
    .n,
    .nn,
    // Attribute
    .na,
    // Class
    .nc,
    // Constant
    .no,
    // Decorator
    .nd,
    // Exception
    .ne,
    // Function
    .nf,
    // Other,
    .nx {
        color: $code-color-names;
    }

    // Tag
    .nt {
        color: $code-color-tags;
    }

    //* Literal
    .l {
        color: $code-color-literals;
    }

    // Date
    .ld,
    // String
    .s,
    // StringAffix
    .sa,
    // StringBacktick
    .sb,
    // StringChar
    .sc,
    // StringDelimiter
    .dl,
    // String doc
    .sd,
    // StringDouble
    .s2,
    // StringEscape
    .se,
    // StringHeredoc
    .sh,
    // StringInterpol
    .si,
    // StringOther
    .sx,
    // StringRegex
    .sr,
    // StringSingle
    .s1,
    // StringSymbol
    .ss {
        color: $code-color-strings;
    }

    // StringEscape
    .se {
        font-weight: bold;
    }

    //** Number
    .m,
    // Bin
    .mb,
    // Float
    .mf,
    // Hex
    .mh,
    // Integer
    .mi,
    // IntegerLong
    .li,
    // Oct
    .mo {
        color: $code-color-numbers;
    }

    //* Operator
    .o,
    // Word
    .ow {
        color: $code-color-operators;
    }

    //* Comment
    .c,
    // Hashbang
    .ch,
    // Multiline
    .cm,
    // Single
    .c1,
    // Special
    .cs,
    // Preproc
    .cp,
    // PreprocFile
    .cpf {
        color: $code-color-comments;
    }

    //* Generic
    // Deleted
    .gd { color: $ko-text-color; }
    // Emph
    .ge { font-style: italic; }
    // Inserted
    .gi { color: $ok-text-color; }
    // Strong
    .gs { font-weight: bold; }
    // Subheading
    .gu { color: $code-color-comments; }
}
