// Styling for quote and code blocks
blockquote,
pre {
    position: relative;
    clear: both;

    border-left: solid 0.4em $block-highlight-color;
    background: $back-color-block;

    // Transparent highlight sign, must be set for each concerned class
    &::before {
        position: absolute;
        top: 0.1em;
        right: 0.2em;

        color: $block-highlight-sign-color;
        font-size: 2em;
        font-style: italic;
    }
}

blockquote::before {
    content: '\201D';
    // Tweak positioning and size
    top: -0.1em;
    font-size: 6em;
}

pre::before {
    content: '</>';
}
