// Elements for interactive forms
.tip-loading,
.tip-success,
.tip-error,
.tip-spam {
    display: none;

    font-weight: 600;
    text-align: center;
}

.tip-success {
    color: $ok-text-color;
}

.tip-error,
.tip-spam {
    color: $ko-text-color;
}

.loading {
    opacity: 0.7;
    pointer-events: none;
    .action-bar { display: none; }
    .tip-loading { display: block; }
}

.success {
    * { display: none; }
    .tip-success { display: block; }
}

.error .tip-error { display: block; }

.spam .tip-spam { display: block; }
