{{ i18n "page.link.share" }}
<a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&via={{ .Site.Params.twitter }}">
  {{- partial "utils/icon.html" (dict "icon" "twitter" "title" "Twitter") -}}
</a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}">
  {{- partial "utils/icon.html" (dict "icon" "facebook" "title" "Facebook") -}}
</a>
<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}">
  {{- partial "utils/icon.html" (dict "icon" "linkedin" "title" "LinkedIn") -}}
</a>
