//* A color set for SVGs, mainly for charts
// Default colors
text {
    fill: $text-color;
}

line,
path {
    stroke-width: 2;
    stroke: $text-color;
    shape-rendering: crispEdges;
}

// Adapt text colors when it's over a colored area
.over-fill {
    $contrast-text-color: hsl($text-hue, $text-saturation, 100 - $text-lightness);
    fill: $contrast-text-color;

    text {
        fill: $contrast-text-color;
    }
}

/* Classes for customizing colors */
@each $color, $value in $chart-colors {
    .fill-#{$color} {
        fill: $value;
    }

    .stroke-#{$color} {
        stroke: $value;
    }
}
