//* This class should be applied to a <g>
// When this <g> is hovered, texts and surfaces would transition to focus color
.focus {
    text,
    .fill {
        transition: fill 0.3s ease;
    }

    line,
    .stroke {
        transition: stroke 0.3s ease;
    }

    &:hover,
    &:focus {
        line,
        .stroke { stroke: $chart-color-focus; }

        text:not(.over-fill),
        .fill { fill: $chart-color-focus; }
    }
}
