.section-site-header {
    padding: 0.5em 1.5em;
    background: $menu-header-color;

    font-size: larger;

    a {
        color: $menu-top-text-color;
    }

    .logo {
        font-size: larger;
    }
}

.nav-menu-goto {
    display: block;
    padding: 0.15em 0.5em;
    float: right;

    background: $menu-button-back-color;
}
