{{ $license := split .license " " -}}
{{ $licenseFamily := lower (index $license 0) -}}
{{- if eq "cc" $licenseFamily -}}
  {{ $terms := lower (index $license 1) -}}
  {{ $valid := slice "by" "by-sa" "by-nd" "by-nc" "by-nc-sa" "by-nc-nd" -}}
  {{ if in $valid $terms -}}
    {{ $version := index $license 2 -}}
    {{ $licenseUrl := printf "https://creativecommons.org/licenses/%s/%s/deed.%s" $terms $version .Lang -}}
<a href="{{ $licenseUrl }}" title="{{ .license }}" rel="license">
    {{- .license -}}
</a>
  {{- else -}}
    {{ errorf "Invalid CC license <%q>" .license }}
  {{ end -}}
{{- else if eq "asf" $licenseFamily -}}
  {{- $version := index $license 1 }}
<a href="https://www.apache.org/licenses/LICENSE-{{ .version }}" title="{{ .license }}" rel="license">
  {{- .license -}}
</a>
{{- else if eq "unsplash" $licenseFamily -}}
<a href="https://unsplash.com/license" title="{{ .license }}" rel="license">
  {{- .license -}}
</a>
{{- else if eq "copyright" $licenseFamily -}}
&copy;&nbsp;{{ delimit (last (sub (len $license) 1) $license) " " }}
{{- else -}}
  {{ errorf "Not a known license: <%q> (compact)" .license }}
{{- end -}}
