<svg viewBox="0 0 100 100" class="icon" {{ if .title }}role="img"{{ else }}aria-hidden="true"{{ end }}>
  {{ with .title }}<title>{{ . }}</title>{{ end -}}
  <use xlink:href="/assets/icons.svg#{{ .icon }}"></use>
</svg>