<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  <div class="figure-content">
{{- if .Get "link" }}
    <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
{{- end }}
{{- $dir := default (printf "content/%s" .Page.File.Dir)  (.Get "dir") }}
{{ printf "%s%s" $dir (.Get "src") | readFile | safeHTML }}
{{ if .Get "link" }}    </a>{{ end -}}
  </div>
{{- if or (.Get "title") (.Get "caption") (.Get "attr") }}
  <figcaption class="figure-caption">
{{ with (.Get "title") -}}
    <h4>{{ . }}</h4>
{{- end -}}
{{- if or (.Get "caption") (.Get "attr") -}}<p>
  {{- .Get "caption" | markdownify -}}
  {{- with .Get "attrlink" }} <a href="{{ . }}">{{- end -}}
  {{- .Get "attr" | markdownify -}}
  {{- if .Get "attrlink" }}</a>{{ end }}</p>
  {{- end }}
  </figcaption>
{{- end }}
</figure>
