{{ $id := .Get 0 -}}
{{ $ref := index (where $.Page.Params.references "id" $id) 0 -}}
{{ with $ref -}}
{{ $translated := and .lang (ne .lang $.Page.Lang) -}}
<cite>
  {{ if $translated }}{{ i18n "page.ref.cite.translated" }}{{ end }}
  <a href="{{ .url }}" id="ref:{{ .id }}"{{ if .title }} class="ref-title"{{ end }}{{ with .lang }} hreflang="{{ . }}"{{ end }}>
    {{- .name -}}
  </a>
  {{- if $translated }} ({{ upper .lang }}){{ end }}
  {{- with .author }},
  {{ if .url }}
    <a href="{{ .url }}" rel="nofollow">{{ .name }}</a>
  {{ else }}
    {{ .name }}
  {{- end }}{{ end }}
  {{- with .date }}, {{ . }}{{ end }}
</cite>
{{- end }}